{% macro submit_post_macro(new_thread, form, image_error) %}

<center>
<form method="post" enctype="multipart/form-data" novalidate>
    <div class="form-group">
        <table border="0">
            <tbody>
                {% if new_thread %}
                <tr>
                    <td>
                    {{ form.title(size=20) }}
                    <br>
                    {% for error in form.title.errors %}
                         <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                    </td>
                </tr>
                {% endif %}
                <tr colspan="2">
                    <td colspan="2">
                    {{ form.content(size=100) }}
                    <br>
                    {% for error in form.content.errors %}
                         <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="custom-file">
                            <input type="file" multiple onchange="previewMultiple(event)" class="custom-file-input"
                                name="image" id="image" accept="image/*">
                            {% if image_error %}
                                <span style="color: red;">{{ image_error }}</span>
                            {% endif %}
                            <div id="galeria">

                            </div>
                            <!-- <img id="output"/> -->
                            <style>
                                #galeria {
                                    display: flex;
                                }

                                #galeria img {
                                    height: 85px;
                                }
                            </style>
                            <script>
                                function previewMultiple(event) {
                                    var saida = document.getElementById("image");
                                    var quantos = saida.files.length;
                                    for (i = 0; i < quantos; i++) {
                                        var urls = URL.createObjectURL(event.target.files[i]);
                                        document.getElementById("galeria").innerHTML += '<img src="' + urls + '">';
                                    }
                                }
                            </script>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <p>{{ form.submit() }}</p>
</center>
</form>

{% endmacro %}