{% from 'macroses/image_viewer.html' import image_viewer_macro %}
{% from 'macroses/reply_viewer.html' import reply_viewer_macro %}
{% from 'macroses/post_metadata.html' import post_metadata_macro %}

{% macro thread_header_macro(thread_title, post, post_id, posts_count, thread_url, show_full_thread) %}

<div class="thread_header_container">
    <div class="thread_header_metadata_container">
        <div class="thread_header_metadata_title_container">
            {% if not show_full_thread %}
                <a href="{{ url_for('thread.thread', thread_id=thread_url) }}">{{thread_title}}</a>
            {% else %}
                {{thread_title}}
            {% endif %}
        </div>
        <div class="thread_header_metadata_replies_count_container">
            ({{posts_count}} replies)
        </div>
        {{ post_metadata_macro(post['date_time'], post['id']) }}
    </div>
    <div class="thread_header_images_container">
        {% if post.images %}
        {% for image in post.images %}
            {% set image_index = image['id']|string + "_" + post_id|string %}
            {% set render_modal_only = false %}
            <div class="thread_header_image_container">
                {{ image_viewer_macro(image, image_index, render_modal_only) }}
            </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="thread_header_text_container">
    {% for line in post['rendered_content'] %}
    {{ line['text'] | safe }}
    {% endfor %}
    </div>
</div>

<style>
    .thread_header_container {
        background-color: white;
        padding-bottom:0px;
        padding-top:0px;
        padding-left:5px;
        padding-right:5px;
    } 

    .thread_header_metadata_container {
        margin-left: 0px;
    }

    .thread_header_metadata_title_container {
        font-weight: 900;
        margin-right: 5px;
        margin-bottom: 5px;
        display: inline-block;
    }

    .thread_header_metadata_replies_count_container {
        display: inline-block;
    }

    .thread_header_images_container {
        display: inline-block;
    }

    .thread_header_image_container {
        float: left;
        padding-left:5px;
    }

</style>

{% endmacro %}